/* styles.css */

/* Basic reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Overall page style */
body 
{
    display: flex;
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

/* Title styling */
h1 
{
    text-align: center;
}

/* Container for the entire calendar */
.calendar-container 
{
    flex: 1;
    position: relative;
    max-width: 700px;
    padding: 0px;
    background-color: #fff;
}

/* Styling the day names row */
.day-names 
{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-bottom: 5px;
}

.day-names div 
{
    background: #ddd;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    border: 1px solid #ccc;
}

/* Calendar container styling */
#calendar 
{
    left: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    max-width: 700px;
    margin: 0 auto;
}

/* Day cell styling */
.day 
{
    border: 1px solid #ccc;
    background: #fff;
    min-height: 80px;
    padding: 3px;
    cursor: pointer;
    transition: background 0.2s;
}

.day:hover 
{
    background: #e6e6e6;
}

.day strong 
{
    display: block;
    margin-bottom: 5px;
}

.assignment
{
    font-size: 0.9em;
}

.schedule-container
{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);   
    background: white;
    vertical-align: middle;
    margin-left: 20px;
    max-height: 550px;
}

.time-slots 
{
    text-align: center;
    font-weight: bold;
    border: 1px solid #ccc;
    display: grid;
    grid-template-columns: 100px;
}

/* Div is used so that each individual box has a border */
.time-slots div
{
    border: 1px solid #ccc;
    line-height: 28px;
}

.activities
{
    text-align: center;
    font-weight: bold;
    border: 1px solid #ccc;
    display: grid;
    grid-template-columns: 100px;
    cursor: pointer;
}

.activities div
{
    border: 1px solid #ccc;
    text-align: center;
    min-height: 30px;
}

/* Use JS to create a new div inside schedule container. Have a click and drag option and then choose your course after you are done. And then ask what the assignment is.*/

.overlay 
{
    position: absolute;
    width: 100px;
    background: rgba(0, 0, 255, 0.3);
    border: 2px solid blue;
    color:white;
    cursor: pointer;
}
